<div class="content" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="content__first-row" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="content__first-row__card" fxLayout="column" fxLayoutAlign="space-around center">
            <div class="content__first-row__card--wrapper-title">
                <span class="content__first-row__card__title">Procenat završenih testova:</span>
            </div>
            <div class="content__first-row__card--wrapper-value" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="content__first-row__card__value">74%</span>
                <mat-icon class="content__first-row__card__icon">bar_chart</mat-icon>
            </div>
        </div>
        <div class="content__first-row__card" fxLayout="column" fxLayoutAlign="space-around center">
            <div class="content__first-row__card--wrapper-title">
                <span class="content__first-row__card__title">Kreirano flash kartica:</span>
            </div>
            <div class="content__first-row__card--wrapper-value" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="content__first-row__card__value">17</span>
                <mat-icon class="content__first-row__card__icon">create</mat-icon>
            </div>
        </div>
        <div class="content__first-row__card" fxLayout="column" fxLayoutAlign="space-around center">
            <div class="content__first-row__card--wrapper-title">
                <span class="content__first-row__card__title">Ukupno lajkova:</span>
            </div>
            <div class="content__first-row__card--wrapper-value" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="content__first-row__card__value">451</span>
                <mat-icon class="content__first-row__card__icon">favorite</mat-icon>
            </div>
        </div>
        <div class="content__first-row__card" fxLayout="column" fxLayoutAlign="space-around center">
            <div class="content__first-row__card--wrapper-title">
                <span class="content__first-row__card__title">Ukupno postavljenih komentara:</span>
            </div>
            <div class="content__first-row__card--wrapper-value" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="content__first-row__card__value">5</span>
                <mat-icon class="content__first-row__card__icon">add_comment</mat-icon>
            </div>
        </div>
    </div>
    <div class="content__second-row" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="content__second-row__card__one">
            
        </div>
        <div class="content__second-row__card__two">
            
        </div>
    </div>
</div>