.content {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.wrapper {
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.first_column {
    width: 60%;
    height: 100%;
}

.deck__info {
    padding-top: 2%;
    width: 90%;
}

.deck_info__title--text {
    font-size: 16px;
    font-weight: 200;
}

.deck_info__title--subtitle {
    margin-top: 10px;
    font-size: 22px;
}

.card__list {
    width: 90%;
    height: 75%;
    padding-top: 40px;
}

.card__list__arrow {
    width: 72px;
    height: 72px;
    font-size: 72px;
    text-align: center;
    color: #7c7c7c;
    cursor: pointer;
}

.card__list__arrow:hover {
    color: #546bec;
}

.card {
    width: 420px;
    height: 420px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: 5px solid #546bec;
    margin: 0 3.5% 3% 3.5%;
    cursor: pointer;
}

.card:hover {
    width: 430px;
    height: 430px;
    transition: 0.2s;
}

.card--text--position{
    color: #7c7c7c;
    font-weight: 100;
}

.card--text {
    max-width: 350px;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    height: 90%;
    vertical-align: middle;
    padding-bottom: 5%;
}

.deck__pagination__text {
    font-size: 16px;
    font-weight: 200;
    padding-top: 10px;
}

.second_column {
    width: 30%;
    height: 100%;
}

.comment-section {
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.comment-section__title {
    font-size: 16px;
    font-weight: 200;
    padding-left: 25px;
    border-left: 1px solid #d2d9e0;
}

.comments {
    overflow-y: scroll;
    max-height: 500px;
    height: 75%;
    width: 100%;
    padding-top: 20px;
    padding-left: 25px;
    border-left: 1px solid #d2d9e0;
}

.comment-and-subcomments {
    width: 95%;
    border-bottom: 3px solid #546bec;
    margin-bottom: 20px;
}

.comment {
    border-bottom: 1px solid #d2d9e0;
    padding-left: 10px;
}

.subcomment {
    border-bottom: 1px solid #f0f0f0;
    margin-left: 40px;
    padding-left: 10px;
}

.comment-user {
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}

.comment-text {
    padding-bottom: 10px;
}

.subcomment-text {
    padding-bottom: 20px;
}

.comment-reply {
    padding-bottom: 10px;
    color: #546bec;
    cursor: pointer;
}

.add-comment {
    width: 100%;
    margin-top: 30px;
}