<div class="content" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="wrapper" fxLayout="column" fxLayoutAlign="start center">
        <div class="deck__info" fxLayout="row" fxLayoutAlign="space-between start">
            <div class="deck_info__title" fxLayout="column" fxLayoutAlign="space-between start">
                <span class="deck_info__title--text">Predmet: Baze podataka</span>
                <span class="deck_info__title--subtitle">SQL komande</span>
            </div>
            <div class="deck_info__title" fxLayout="column" fxLayoutAlign="space-between start">
                <span class="deck_info__title--text">Autor: yoggie</span>
            </div>
        </div>
        <div class="card__list" fxLayout="row" fxLayoutAlign="space-evenly center">
            <mat-icon class="card__list__arrow">keyboard_arrow_left</mat-icon>
            <div class="card" fxLayout="column" fxLayoutAlign="center center">
                <span class="card--text">Koja komanda sluzi za kreiranje pogleda?</span>
            </div>
            <mat-icon class="card__list__arrow">keyboard_arrow_right</mat-icon>
        </div>
        <div class="deck__pagination" fxLayout="column" fxLayoutAlign="space-between start">
            <span class="deck__pagination__text">Kartica 1 od 5</span>
        </div>
    </div>
</div>
