<div class="content" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="wrapper" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title__text">Baze podataka</span>
            <div class="title__icons" routerLink="/app/dodaj-skup-kartica" fxLayout="row" fxLayoutAlign="space-around center">
                <span class="title__icon__text">Dodaj</span>
                <mat-icon class="title__icon">create_new_folder</mat-icon>
            </div>
        </div>
        <div class="decks" fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="deck" fxLayout="column" fxLayoutAlign="space-around center">
                <div class="deck__header" fxLayout="row" fxLayoutAlign="end center">
                    <mat-icon class="deck__header__icon">favorite_border</mat-icon>
                    <span class="deck__header__text">546</span>
                </div>
                <div class="deck__title" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__title__text">SQL komande</span>
                    <span class="deck__title__author">Autor: yoggie</span>
                </div>
                <div class="deck__date" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__date__text">25.4.2020.</span>
                </div>
            </div>
            <div class="deck" fxLayout="column" fxLayoutAlign="space-around center">
                <div class="deck__header" fxLayout="row" fxLayoutAlign="end center">
                    <mat-icon class="deck__header__icon">favorite</mat-icon>
                    <span class="deck__header__text">345</span>
                </div>
                <div class="deck__title" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__title__text">Eliminaciona pitanja</span>
                    <span class="deck__title__author">Autor: nensie</span>
                </div>
                <div class="deck__date" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__date__text">13.4.2020.</span>
                </div>
            </div>
            <div class="deck" fxLayout="column" fxLayoutAlign="space-around center">
                <div class="deck__header" fxLayout="row" fxLayoutAlign="end center">
                    <mat-icon class="deck__header__icon">favorite_border</mat-icon>
                    <span class="deck__header__text">15</span>
                </div>
                <div class="deck__title" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__title__text">Ispitna pitanja</span>
                    <span class="deck__title__author">Autor: stefon</span>
                </div>
                <div class="deck__date" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__date__text">17.4.2020.</span>
                </div>
            </div>
            <div class="deck" fxLayout="column" fxLayoutAlign="space-around center">
                <div class="deck__header" fxLayout="row" fxLayoutAlign="end center">
                    <mat-icon class="deck__header__icon">favorite_border</mat-icon>
                    <span class="deck__header__text">5</span>
                </div>
                <div class="deck__title" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__title__text">Podupiti</span>
                    <span class="deck__title__author">Autor: yoggie</span>
                </div>
                <div class="deck__date" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__date__text">1.3.2019.</span>
                </div>
            </div>
            <div class="deck" fxLayout="column" fxLayoutAlign="space-around center">
                <div class="deck__header" fxLayout="row" fxLayoutAlign="end center">
                    <mat-icon class="deck__header__icon">favorite</mat-icon>
                    <span class="deck__header__text">546</span>
                </div>
                <div class="deck__title" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__title__text">SQL JOIN komande, zadaci</span>
                    <span class="deck__title__author">Autor: yoggie</span>
                </div>
                <div class="deck__date" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__date__text">8.4.2017.</span>
                </div>
            </div>
            <div class="deck" fxLayout="column" fxLayoutAlign="space-around center">
                <div class="deck__header" fxLayout="row" fxLayoutAlign="end center">
                    <mat-icon class="deck__header__icon">favorite_border</mat-icon>
                    <span class="deck__header__text">0</span>
                </div>
                <div class="deck__title" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__title__text">SQL SELECT</span>
                    <span class="deck__title__author">Autor: nekoveomadugackoimevise</span>
                </div>
                <div class="deck__date" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__date__text">25.4.2009.</span>
                </div>
            </div>
        </div>
        <div class="pagination" fxLayout="row" fxLayoutAlign="end center">
            <mat-icon class="pagination__icon">keyboard_arrow_left</mat-icon>
            <span class="pagination__text">Strana 1 od 1</span>
            <mat-icon class="pagination__icon">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div> 