<div class="content" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="wrapper" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title__text">{{this.subjectName}}</span>
            <div class="title__icons" routerLink="/app/dodaj-skup-kartica/{{this.id}}" fxLayout="row" fxLayoutAlign="space-around center">
                <span class="title__icon__text">Dodaj</span>
                <mat-icon class="title__icon">create_new_folder</mat-icon>
            </div>
        </div>
        <div class="decks" fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="deck" fxLayout="column" *ngFor="let s of this.decks" FxLayoutAlign="space-around center">
                <div class="deck__header" fxLayout="row" fxLayoutAlign="end center">
                    <mat-icon class="deck__header__icon" *ngIf="s.LikedByUser==true" (click)="dislike(s.DeckOfCardsID)">favorite</mat-icon>
                    <mat-icon class="deck__header__icon" *ngIf="s.LikedByUser==false" (click)="like(s.DeckOfCardsID)">favorite_border</mat-icon>
                    <span class="deck__header__text">{{s.NumberOfLikes}}</span>
                </div>
                <div class="deck__title" fxLayout="column" fxLayoutAlign="center center" routerLink="/app/skup-kartica/{{s.DeckOfCardsID}}">
                    <span class="deck__title__text">{{s.Name}}</span>
                    <span class="deck__title__author">Autor: {{s.User.Username}}</span>
                </div>
                <div class="deck__date" fxLayout="column" fxLayoutAlign="center center">
                    <span class="deck__date__text">{{s.date | date: 'dd/MM/yyyy'}}</span>
                </div>
            </div>
        </div>
        <div class="pagination" fxLayout="row" fxLayoutAlign="end center">
            <mat-icon class="pagination__icon" (click)="prethodnaStrana()">keyboard_arrow_left</mat-icon>
            <span class="pagination__text">Strana {{this.page}} od {{this.pages}}</span>
            <mat-icon class="pagination__icon" (click)="sledecaStrana()">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div> 