.content {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.wrapper {
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.first_column {
    width: 60%;
    height: 100%;
}

.deck_info {
    width: 100%;
    height: 95%;
}

.deck_info__title {
    width: 100%;
    padding-left: 3.3%;
    padding-top: 10px;
}

.deck__title {
    padding-left: 25px;
}

.deck__title--text {
    margin-right: 15px;
}

.deck_info__title--text {
    font-size: 22px;
}

.deck_info__title--subtitle {
    font-size: 16px;
    font-weight: 200;
    padding-right: 3.7%;
}

.front__back {
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.front__title {
    width: 300px;
}

.back__title {
    width: 300px;
}

.front__title__input {
    width: 300px;
}

.front__title__input--textarea {
    width: 300px;
    height: 70px;
    background-color: #f0f0f0;
    resize: none;
}

.back__title__input {
    width: 300px;
    margin-top: 0px;
}

.back__title__input--textarea {
    width: 300px;
    height: 70px;
    background-color: #f0f0f0;
    resize: none;
}

.front__card {
    width: 300px;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: 5px solid #546bec;
    margin: 0 3.5% 3% 3.5%;
}

.front__card--text {
    font-size: 18px;
}

.back__card {
    width: 300px;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: 5px solid #546bec;
    margin: 0 3.5% 3% 3.5%;
}

.back__card--text {
    font-size: 18px;
}

.add-card {
    padding-right: 3%;
}

.add-card__card {
    margin-right: 3%;
}

.second_column {
    width: 30%;
    height: 100%;
}

.deck_list {
    width: 100%;
    height: 90%;
    border-left: 1px solid #d2d9e0;
    padding-top: 17px;
}

.deck_list__title {
    padding-left: 10%;
    padding-top: 10px;
}

.deck {
    overflow-y: scroll;
    height: 100%;
    max-height: 500px;
    width: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    width: 250px;
    height: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: 5px solid #546bec;
    margin: 0 3% 3% 3%;
    margin-left: auto;
    margin-right: auto;
}