<div class="page" fxLayout="column" fxLayoutAlign="center center">
    <div class="content" fxLayout="column" fxLayoutAlign="space-between center">
        <div class="header">
            <span class="header__logo">Flashcards</span>
        </div>
        <div class="main" fxLayout="column" fxLayoutAlign="space-between center">
            <div class="main__title">Registracija</div>
            <div class="main__form" fxLayout="column" fxLayoutAlign="space-between center">
                <mat-form-field class="main__form--form-field" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput [(ngModel)]="email">
                </mat-form-field>
                <mat-form-field class="main__form--form-field" appearance="outline">
                    <mat-label>Korisnicko ime</mat-label>
                    <input matInput [(ngModel)]="username">
                </mat-form-field>
                <mat-form-field class="main__form--form-field" appearance="outline">
                    <mat-label>Lozinka</mat-label>
                    <input matInput [(ngModel)]="password" type="password">
                </mat-form-field>
                <div class="main__form__buttons" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button mat-flat-button class="main__form__buttons--button" color="primary" routerLink="/login">Login</button>
                    <button mat-flat-button class="main__form__buttons--button" color="primary" (click)="register()">Registracija</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="footer__text">Kreirano od strane Nevene, Ognjena i Stefana!</span>
        </div>
    </div>
</div>